/*This is our CSS file for our Collaborate-Workshop Assignment*/

body {
    background: black;
    color: rgba(255, 0, 0, 0.884);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    line-height: 200%;
}